<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
  </head>

  <body>

    <form>
      <!-- holy jeez this actually works -->
      <% for(var i = 0; i<strArray.length; i++) {%>
        <%= strArray[i] %>: <br>
        <input type="text" name=<%= strArray[i] %> > <br>
      <% } %>

      <% for(var i = 0; i<numArray.length; i++) {%>
        <%= numArray[i] %>: <br>
        <input type="number" name=<%= numArray[i] %> > <br>
      <% } %>
    </form>

  </body>

</html>
