<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
  </head>

  <body>

    <form>
      <!-- holy jeez this actually works -->
      <% for(var i = 0; i<strArray.length; i++) {%>
        <%= strArray[i] %>: <br>
        <input type="text" name=<%= foodStringNames[i] %> > <br>
      <% } %>

      <% for(var i = 0; i<numArray.length; i++) {%>
        <%= numArray[i] %>: <br>
        <input type="number" name=<%= foodNumberNames[i] %> > <br>
      <% } %>

      <input type="submit" formmethod="post" formaction="/">
    </form>

    <form>
      <!-- holy jeez this actually works -->
      <% for(var i = 0; i<allFoods.length; i++) {%>
        <input type="checkbox" name=<%= allFoods[i].name %> value=<%= allFoods[i]._id %> > <%= allFoods[i].name %> <br>
      <% } %>

      <% for(var i = 0; i<mealDateArray.length; i++) {%>
        <%= mealDateArray[i] %>: <br>
        <input type="datetime-local" name=<%= mealDateArray[i] %> > <br>
      <% } %>
    </form>

  </body>

</html>
